// Colors Codes
$main-color: #DEECEC;
$second-color: #2C5F63;
$button-color:#589195;
$p_color:#707686;
$hr-color:#84BABE;
$icon-color:#7F8698;
$card-color:#F7F8FC;




// Font-family
$main-font-family: 'Outfit', sans-serif;
$second-font-family:'Work Sans', sans-serif;;

// Font-size
$font-size-root: 2px;
$font-size-sm: $font-size-root*9;
$font-size-m: $font-size-root*10;
$font-size-lg: $font-size-root*20;

// Font-weight
$font-weight-root:100px;
$font-weight-sm:$font-weight-root*3;
$font-weight-m:$font-weight-root*4;
$font-weight-lg:$font-weight-root*5;
$font-weight-xl:$font-weight-root*7;

// Line Height
$line-height-root:60px;
$line-height-sm:$line-height-root/2;
